# Server configuration
NODE_ENV=development
SERVER_PORT=3000

# Database configuration
DB_HOST=localhost
DB_NAME=astronum_db
DB_USER=astronum
DB_PASSWORD=astronum_password
DB_PORT=5432

# Pgadmin configuration
PGADMIN_DEFAULT_EMAIL=astronum@gmail.com
PGADMIN_DEFAULT_PASSWORD=astronum_password

# Redis configuration
REDIS_HOST=localhost
REDIS_PORT=6379
